<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <style>
        .parent{
            display: flex;
            justify-content: center;
        }
        .child{
            border: 1px solid grey;
            width: 30%;
            border-radius: 15px;
            background-color: white;
            padding: 2rem;
        }
        body{
            background-color: rgb(216, 218, 220);
        }
        input, textarea, select{
            width: 100%;
            display: block;
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid grey;
        }
        *{
            box-sizing: border-box;
        }
        .save{
            display: flex;
            justify-content: space-between;
        }
        .save button{
            background-color: blue;
            color: white;
            padding: 0.6rem;
            border: none;
            border-radius: 6px;
        }
        .save a{
            background-color: red;
            color: white;
            padding: 0.6rem;
            border: none;
            border-radius: 6px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="child">
            <form action="/add-product" method="post" enctype="multipart/form-data">
                <h2>Add product</h2>
                <p>
                    <label for="productName">Product Name</label><br>
                    <input type="text" name="title" id="productName" required>
                </p>
                <p>
                    <label for="category"></label>
                    <select name="categoryId" id="category">
                        <%
                            categories.forEach((c) =>{
                                %>
                                <option value="<%= c.id %>"><%= c.name %></option>
                                <%
                            })
                        %>
                        
                    </select>
                </p>
                <p>
                    <label for="price">Price</label><br>
                    <input type="text" name="price" id="price" required>
                </p>
                <p>
                    <label for="description">Description</label><br>
                    <textarea name="description" id="description" required></textarea>
                </p>
                <p>
                    <label for="productImage">Product Image</label><br>
                    <input type="file" name="image" id="productImage" required>
                </p>
                <div class="save">
                    <button type="submit">Add Product</button>
                    <a href="/home">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>